<div class="sm:flex justify-between mb-8">
  <h1 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">
    Matches
  </h1>
  <%= link_to "Nuevo partido", new_match_path, class: 'inline-block mt-3 sm:m-0 text-center items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150' %>
</div>

<div>
  <% @matches.each do |match| %>
    <%= render match %>
  <% end %>
</div>

